.cuadrado{
    width: 100px;
    height: 100px;
}

.cuadrado.rojo{
    background: red;
}



.cuadrado.verde{
    background: green;
}


.cuadrado.azul{
    background: blue;
}

.contenedor{
    width: 300px;
    height: 100px;
}