<form class="row g-3 cuadro-registro">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="inputAddress">
  </div>
  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="inputAddress2">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">DNI</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Registrarme</button>
  </div>
</form>